/vendor/
/node_modules/
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
/public/build/
/public/hot/
/public/storage/
/storage/*.key

# Python
__pycache__/
venv/
*.pyc
*.pyo
*.pyd
.env.python
test.csv
public/hot
